AppKit==0.2.8
attr==0.3.2
BeautifulSoup==3.2.2
beautifulsoup4==4.11.1
brotli==1.0.9
cffi==1.15.1
ConfigParser==5.3.0
cryptography==3.4.8
Cython==0.29.32
defusedxml==0.7.1
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==4.6.4
ipython==8.5.0
ipywidgets==8.0.2
Jinja2==3.1.2
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
numpy==1.23.3
olefile==0.46
ordereddict==1.1
protobuf==4.21.8
pyOpenSSL==22.1.0
PyQt5==5.15.7
PyQt6==6.4.0
PySide2==5.15.2.1
PySide6==6.4.0
Quartz==0.0.1.dev0
railroad==0.5.0
Sphinx==5.3.0
toml==0.10.2
tornado==6.2
xmlrpclib==1.0.1
zipp==1.0.0
